<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>たんこれ！ - オーティーの研究日誌</title>
    <!-- Vue.js Script -->
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <script src="vue.global.prod.js"></script>
    <!-- Original -->
    <link href="index.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="menu-area">
            <div class="row">
                <div class="col">
                    <!-- link -->
                </div>
                <div class="col">
                    <!-- title -->
                    <div class="title">
                        <h1>たんこれ！</h1>
                    </div>
                </div>
                <div class="col">
                    <!-- help -->
                    <div class="help">
                        <span>α版</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="output-area">
            <div class="col">
                <div class="row" v-for="answer in result.answers">
                    <div class="content" v-for="data in answer.datas" v-bind:key="data.key">
                        <span>{{ data.value }}</span>
                    </div>
                </div>
                <div class="row" v-if="output.isAvailable">
                    <div class="content" v-for="data in output.datas" v-bind:key="data.key">
                        <span>{{ data.value }}</span>
                    </div>
                    <div class="content" v-for="emptyLetter in numberOfRemainingLetters">
                        <span></span>
                    </div>
                </div>
                <div class="row" v-for="emptyAnswer in numberOfRemainingAnswers">
                    <div class="content" v-for="emptyLetter in numberOfLetters">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-area">
            <div class="row">
                <div class="col">
                    <div class="accept">
                        <button type="button" v-on:click="answer()">
                            <span>確定</span>
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="delete">
                        <button type="button" v-on:click="backSpace()">
                            <span>削除</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" v-for="col in input.cols">
                    <div class="content" v-for="data in col.datas" v-bind:key="data.key">
                        <button type="button" v-on:click="frontValue(data.key)" v-bind:disabled="data.isDisabled">
                            <span>{{ data.value }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="popupArea" class="popup-area"></div>
    </main>
    <footer>
        <div class="copyright-area">
            <div class="content">
                <span>&copy; DeveloperAuty 2021</span>
            </div>
        </div>
    </footer>
    <script src="index.js"></script>
</body>

</html>