body {
    margin: 0rem;
    font-size: 1rem;
    user-select: none;
    touch-action: manipulation;
}

header {
    width: auto;
}

.menu-area {
    padding: 0.5rem;
    border-bottom: solid 1px gainsboro;
}

.menu-area .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-area .col:first-child,
.menu-area .col:last-child {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.menu-area .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-area .title {
    text-align: center;
}

.menu-area .title>h1 {
    margin: 0rem;
}

.menu-area .help {
    text-align: left;
}

main {
    width: auto;
}

.reply-area {
    margin: 1rem;
}

.reply-area .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reply-area .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reply-area .content {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.2rem;
    background-color: white;
    border: solid 2px gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reply-area .no-content {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.2rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reply-area .content>span {
    font-weight: bold;
    font-size: 2rem;
}

.input-area {
    width: 100%;
    position: fixed;
    bottom: 0rem;
}

.input-area .row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 1rem;
}

.input-area .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-area .content {
    height: 3rem;
    margin: 0.2rem;
}

.input-area .content>span {
    font-weight: bold;
    font-size: 2rem;
}

.input-area .accept {
    width: 6.4rem;
    height: 3rem;
    margin: 0.2rem;
}

.input-area .accept>button {
    width: 100%;
    height: 100%;
    color: dimgray;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: greenyellow;
}

.input-area .delete {
    width: 6.4rem;
    height: 3rem;
    margin: 0.2rem;
}

.input-area .delete>button {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: orangered;
}

.letter-area {
    margin: 1rem;
}

.letter-area .row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.letter-area .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.letter-area .content {
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
}

.letter-area .content>button {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: gainsboro;
}

.popup-area {
    width: 100%;
    position: fixed;
    top: 4rem;
}

.popup-area .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popup-area .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-area .info {
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: blue;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: lightblue;
}

.popup-area .success {
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: green;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: lightgreen;
}

.popup-area .error {
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: red;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: lightpink;
}

footer {
    width: auto;
}

.copyright-area {
    padding: 1rem;
    background-color: whitesmoke;
}

.copyright-area .content {
    text-align: center;
    color: gray;
}

.menu-area .content>span {
    font-size: 1rem;
}